<form action="/resform" method="post">
    <p>titulo: </p>
    <input type="text" name="title" id="">
    <p>conteudo: </p>
    <textarea name="content" id=""></textarea>
    <button type="submit">cadastrar</button>
</form>